body {
  min-width: 100%;
  min-height: 100%;
  font-family: $fontPrimary;
}

h2 {
  font-family: $fontSecondary;
  font-weight: $bold;
  letter-spacing: .8px;
  text-transform: capitalize;
}

.btn-line {
  border: 2px solid $blue !important;
  padding: 6px 12px;
  margin-right: 7px;
  text-decoration: none !important;
  background: transparent;
  color: $blue;
  border-radius: 4px;
  transition: .2s;

  &:hover {
    background: $blue;
    color: $white;
  }
}

a,
button {

  &:focus {
    outline: 0;
  }// pseudoclass
}// a

.btn {
  border: 0;
}

#progress,
#progress2,
#progress3,
#progress4,
#progress5,
#progress6,
#progress7,
#progress8,
#progress9 {
@include clearfix;
 height: 8px;
 position: relative;

 svg {
   margin: 0;
   padding: 0;
   border-radius: 50px;
 }

}
