.tag-1 {
  background: $red;
}

.tag-2 {
  background: $blue;
}

.tag-3 {
  background: $yellow;
}

.tag-4 {
  background: $green;
}

.work-1 {
  background: $black;
}

.work-2 {
  background: #7577e4;
}

.work-3 {
  background: #334e6d;
}

.work-4 {
  background: #d8c7b7;
}

.work-5 {
  background: #ff9899;
}

.p-l-r-5 {
  margin: 0 5px !important;
}
