/* ==========================================================================
   hero
   ========================================================================== */

   .hero-frontpage {
     width: 100%;
     background: url('../img/header/home.png') center center no-repeat;
     background-size: cover;

     h1 {
       padding-top: 300px;
       font-size: 3.9rem;
       font-weight: $bold;
       line-height: 50px;
       word-spacing: 5px;
       letter-spacing: 2px;
       color: $white;

       span {
         font-family: $fontSecondary;
         font-weight: $light;
       }// span
     }// h1
   }// hero

/* ==========================================================================
   My job
   ========================================================================== */

   .myjob {

     .myjob-item {
       @include clearfix;
       padding: 100px 0;

       &:nth-of-type(2n) {
         background: $smoke;

         .col-lg-5 {
           float: right !important;
         }

         .col-lg-7 {
           float: left !important;
         }
       }

       p {
         font-size: 1.5rem;
         color: darken($white, 65);

         &:last-of-type {
           padding-top: 15px;
         }// pseudoclass
       }// p

       img {
         padding: 15px 50px;
       }// img
     }// myjob-item
   }// myjob

/* ==========================================================================
   aboutme
   ========================================================================== */

   .aboutme {
     @include clearfix;

     .details,
     .skills {
       float: left;
     }// multiclass

     .details {
       padding: 226.5px 110px;
       background: url('../img/forest.png') center center no-repeat;
       background-size: cover;
       text-align: center;

       img {
         margin: 0 auto;
         max-width: 150px;
         border-radius: 50%;
       }// img

       p {
         font-size: 1.5rem;

         &:first-of-type {
           padding-top: 30px;
           padding-bottom: 10px;
         }// pseudoclass

         &:last-of-type {
           padding-top: 5px;
           padding-bottom: 30px;
         }// pseudoclass
       }// p

       a {
         padding: 7px 20px;
         font-size: 1.2rem;
         border-radius: 50px;
         background: $white;
         color: $black;
         text-decoration: none;
         transition: background .2s;

         &:hover,
         &:focus {
           background: $smoke;
         }
       }// a
     }// details
   }// aboutme

/* ==========================================================================
   otherText
   ========================================================================== */

   .otherText {
     padding: 100px 0;
     text-align: center;

     .container {

        p {
          font-size: 1.5rem;
          font-family: $fontSecondary;
          font-style: $italic;
        }// p

        a {
          margin: 50px 5px 0 5px;
          padding: 6px 20px;
          border-radius: 50px;
          transition: background .2s;
        }// a

        a.btn-default {
          background: $smoke;

          &:hover {
            background: #ddd;
          }// pseudoclass
        }// btn-default
     }// container
   }// otherText
