.reset-m {
  margin: 0 !important;
}

.reset-m-t {
  margin-top: 0 !important;
}

.reset-m-r {
  margin-right: 0 !important;
}

.reset-m-b {
  margin-bottom: 0 !important;
}

.reset-m-l {
  margin-left: 0 !important;
}

.reset-p {
  padding: 0 !important;
}

.reset-p-t {
  padding-top: 0 !important;
}

.reset-p-r {
  padding-right: 0 !important;
}

.reset-p-b {
  padding-bottom: 0 !important;
}

.reset-p-l {
  padding-left: 0 !important;
}
