/* ==========================================================================
   hero
   ========================================================================== */

.hero {
  width: 100%;
  background: url('../img/header/write.png') center center no-repeat;
  background-size: cover;

  h1 {
    padding-top: 300px;
    font-size: 3.9rem;
    font-weight: $bold;
    line-height: 50px;
    word-spacing: 5px;
    letter-spacing: 2px;
    color: $white;

    span {
      font-family: $fontSecondary;
      font-weight: $light;
    }// span
  }// h1
}// hero

@include mq(xxsmall) {
  .hero {
    min-height: 750px;
  }
}

@include mq(xsmall) {
  .hero {
    min-height: 655px;
  }
}

/* ==========================================================================
   My job
   ========================================================================== */

  .myjob {

    .myjob-item {
      @include clearfix;
      padding: 100px 0;

      &:nth-of-type(2n) {
        background: $smoke;

        .col-lg-5 {
          float: right !important;
        }

        .col-lg-7 {
          float: left !important;
        }
      }

      @include mq(xxsmall) {
        .col-lg-7 {
          margin-top: 35px;
          text-align: center;
        }
      }

      @include mq(medium) {
        .col-lg-7 {
          margin-top: 0;
          text-align: left;
        }
      }

      @include mq(xxsmall) {
        h2 {

          &:after {
            margin: 20px auto;
          }
        }
      }

      @include mq(medium) {
        h2 {

          &:after {
            margin: 20px 0;
          }
        }
      }

      p {
        font-size: 1.5rem;
        color: darken($white, 65);

        &:last-of-type {
          padding-top: 15px;
        }// pseudoclass
      }// p

      @include mq(xxsmall) {
        p {
          padding: 0 10px;
        }
      }

      @include mq(xsmall) {
        p {
          padding: 0 20px;
        }
      }

      @include mq(small) {
        p {
          padding: 0 50px;
        }
      }

      @include mq(medium) {
        p {
          padding: 0;
        }
      }

      img {
        padding: 15px 50px;
      }// img

      @include mq(medium) {
        img {
          margin-top: 40px;
        }
      }

      @include mq(large) {
        img {
          margin-top: 0;
        }
      }
    }// myjob-item
  }// myjob

/* ==========================================================================
   aboutme
   ========================================================================== */

.aboutme {
  @include clearfix;

  .details,
  .skills {
    float: left;
  }// multiclass

  .details {
    padding: 226.5px 110px;
    background: url('../img/forest.png') center center no-repeat;
    background-size: cover;
    text-align: center;

    img {
      margin: 0 auto;
      max-width: 150px;
      border-radius: 50%;
    }// img

    p {
      font-size: 1.5rem;

      &:first-of-type {
        padding-top: 30px;
        padding-bottom: 10px;
      }// pseudoclass

      &:last-of-type {
        padding-top: 5px;
        padding-bottom: 30px;
      }// pseudoclass
    }// p

    a {
      padding: 7px 20px;
      font-size: 1.2rem;
      border-radius: 50px;
      background: $white;
      color: $black;
      text-decoration: none;
      transition: background .2s;

      &:hover,
      &:focus {
        background: $smoke;
      }
    }// a
  }// details

  @include mq(xxsmall) {
    .details {
      padding: 100px 30px;
      width: 100%;
    }// details
  }

  @include mq(small) {
    .details {
      padding: 100px 150px;
      height: auto;
    }// details
  }

  @include mq(medium) {
    .details {
      padding: 100px 30px;
      width: 45% !important;
      height: 850px;
    }// details
  }

  @include mq(large) {
    .details {
      padding: 226.5px 90px;
    }// details
  }

  .skills {

    h4 {
      margin-top: 35px;
      margin-bottom: 0;
      font-weight: $bold;

      &:first-of-type {
        margin-top: 50px;
      }// pseudoclass
    }// h4

    .progressbar-text {
      font-weight: $bold;
      top: -17px !important;
    }
  }// skills

  @include mq(xxsmall) {
    .skills {
      width: 100%;
      height: auto;
      padding: 100px 30px;
    }// skills
  }

  @include mq(medium) {
    .skills {
      width: 55%;
      height: 850px;
      padding: 100px 75px;
    }// skills
  }
}// aboutme

/* ==========================================================================
   count
   ========================================================================== */

.count {
  padding: 100px 0;
  background: $smoke;

  .col-sm-6 {
    text-align: center;

    h2 {
      font-size:10rem;
    }// h2

    h3 {
      font-weight: $bold;

      span {
        font-weight: $light;
      }// span
    }// h3

    &:first-of-type {
      border-right: 2px solid darken($white, 15);
    }// pseudo class

    @include mq(small) {
      &:first-of-type {
        border-right: 2px solid darken($white, 15) !important;
        border-bottom: 0 !important;
        padding-bottom: 0 !important;
      }
    }

    @include mq(xxsmall) {
      &:first-of-type {
        border-right: 0;
        border-bottom: 2px solid darken($white, 15);
        padding-bottom: 30px;
      }
    }
  }// columns
}// count

/* ==========================================================================
   currentPost
   ========================================================================== */

.currentPost {
  padding-top: 100px;

  h2 {
    text-align: center;
  }// h2

  article {
    padding: 100px 0;

    &:nth-of-type(2n) {
      background: $smoke;

      .container {

        .col-md-5 {
          float: right !important;

          .post-image img {
            box-shadow: 15px 15px 0px 0px rgba(255,255,255,1);
          }
        }

        .col-md-7 {
          float: left !important;

          @include mq(medium) {
            .post-content {
              padding-left: 0;
              padding-right: 50px;
              margin-top: 0;
            }
          }

          @include mq(large) {
            .post-content {
              padding-left: 0;
              padding-right: 125px;
            }
          }
        }
      }
    }// pseudoclass

    .post-image img {
      box-shadow: 15px 15px 0px 0px rgba(247,247,247,1);
    }

    .post-content {

      h3 {
        font-size: 2.8rem;
        font-weight: $bold;
        letter-spacing: .8px;
      }// h3

      p {
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 1.5rem;
      }// p

      a {

        &:first-of-type{
          font-size: 1rem;
          color: $white;
          text-decoration: none;
          padding: 6px 15px;
          border-radius: 50px;
        }
      }// a
    }// post-content

    @include mq(xxsmall) {
      .post-content {
        padding: 0;
        margin-top: 45px;
      }
    }

    @include mq(medium) {
      .post-content {
        padding-left: 50px;
        margin-top: 0;
      }
    }

    @include mq(large) {
      .post-content {
        padding-left: 125px;
      }
    }
  }// article

  .toggleArticle {
    padding: 25px 0 100px 0;
    text-align: center;
    background: $smoke;

    button {
      padding: 8px 20px;
      font-size: 1.2rem;
      border-radius: 50px;
      letter-spacing: 1px;
      word-spacing: 1px;
      background: #ddd;
      transition: background .2s;

      &:hover,
      &:focus {
        background: $white;
        outline: 0;
      }// pseudoclass
    }// button
  }// toggleArticle
}// currentPost

/* ==========================================================================
   otherText
   ========================================================================== */

.otherText {
  padding: 100px 0;
  text-align: center;

  .container {

     p {
       font-size: 1.5rem;
       font-family: $fontSecondary;
       font-style: $italic;
     }// p

     a {
       margin: 50px 5px 0 5px;
       padding: 6px 20px;
       border-radius: 50px;
       transition: background .2s;
     }// a

     a.btn-default {
       background: $smoke;

       &:hover {
         background: #ddd;
       }// pseudoclass
     }// btn-default
  }// container
}// otherText

/* ==========================================================================
   footer
   ========================================================================== */

footer {
  padding-top: 100px;
  background: $smoke;
  text-align: center;

  h1 {
    margin: 0;
    font-family: $fontThird;
    font-size: 6rem;
    font-weight: $bold;
  }// h1

  .socialNetwork {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;

    a {
      text-decoration: none;
      transition: color .2s;

      &:hover,
      &:focus {
        color: $black;
      }// pseudoclass
    }// a

    i {
      padding: 0 10px;
      font-size: .7rem;
      color: darken($white, 15);
    }// i
  }// socialNetwork

  p {
    font-style: $italic;
    color: darken($white, 50);
    margin-bottom: 15px;

    &:before {
      display: block;
      content: "";
      margin: 0 auto;
      width: 35%;
      height: 2px;
      background: darken($white, 15);
      border-radius: 50px;
      margin-bottom: 15px;
    }// pseudoclass
  }// p
}//footer
