/* ==========================================================================
   footer
   ========================================================================== */

   .navbar-default {
     padding: 25px 0;
     background: transparent;
     border: 0;
     transition: padding .5s;
     z-index: 500;

     .navbar-brand {
       font-family: $fontThird;
       font-size: 3.5rem;
       font-weight: $bold;
       color: $white;

       &:focus,
       &:hover {
         color: $white;
       }// pseudoclass
     }// navbar-brand

     .navbar-collapse {
       background: transparent;

       .nav {

         li {

           a {
             font-size: 1.5rem;
             color: $white;

             &:hover,
             &:focus {
               color: $white;
             }// pseudoclass

             .or {
               font-style: $italic;
             }// or

             .hire {
               padding: 6px 20px;
               border-radius: 50px;
               background: $white;
               color: $black;
               transition: background .2s;

               &:hover,
               &:focus {
                 background: $smoke;
               }// pseudoclass
             }// hire
           }// a
         }// li
       }// nav
     }// navbar-collapse
   }// navbar-default

   .scrolled {
     padding: 15px 0;
     background: $white;
     box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);

     .navbar-brand {
       color: $black;

       &:focus,
       &:hover {
         color: $black;
       }// pseudoclass
     }

     .navbar-collapse {
       .nav {

         li {

           a {
             color: $black !important;

             &:hover,
             &:focus {
               color: $black !important;
             }// pseudoclass

             .hire {
               background: $black !important;
               color: $white !important;

               &:hover,
               &:focus {
                 background: darken($white, 50) !important;
               }// pseudoclass
             }// hire
           }// a
         }// li
       }// nav
     }// navbar-collapse
   }// scrolled
