// breakpoints
$xsmall:    375px;
$small:     480px;
$medium:    768px;
$large:     1200px;

// media queries

@mixin mq($canvas) {
  @if $canvas == extrasmall {
   @media only screen and (min-width: $xsmall) { @content; }
  }
  @if $canvas == small {
   @media only screen and (min-width: $small) { @content; }
  }
  @else if $canvas == medium {
   @media only screen and (min-width: $medium) { @content; }
  }
  @else if $canvas == large {
   @media only screen and (min-width: $large) { @content; }
  }
}
