$white:        #ffffff;
$smoke:        #f7f7f7;
$red:          #ea4335;
$blue:         #0088CC;
$yellow:       #fbdb45;
$black:        #1F1F1F;
$lightblack:   #2a2a2a;
$orange:       #e67e22;

$fontPrimary : "Lato", sans-serif;
$fontSecondary : "Merriweather", sans-serif;
$fontThird : "Puente", sans-serif;
